/vendor/
/node_modules/
/.env
/storage/cache/data/*
/storage/cache/views/*
/storage/logs/*
/storage/sessions/*
/storage/framework/routes.cache.php
/storage/framework/config.cache.php
!storage/cache/data/.gitkeep
!storage/cache/views/.gitkeep
!storage/logs/.gitkeep
!storage/sessions/.gitkeep
.phpunit.result.cache
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.claude